<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyuan.ecommerce.mapper.CompanyMapper">

	<resultMap id="CompanyPo" type="com.liyuan.ecommerce.domain.po.company.CompanyPo">
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="company_code" property="companyCode" jdbcType="VARCHAR"/>
		<result column="company_name" property="companyName" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="real_name" property="realName" jdbcType="VARCHAR"/>
		<result column="idcard" property="idcard" jdbcType="VARCHAR"/>
		<result column="idcard_img_fore" property="idcardImgFore" jdbcType="VARCHAR"/>
		<result column="idcard_img_back" property="idcardImgBack" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="qq" property="qq" jdbcType="VARCHAR"/>
		<result column="wechat" property="wechat" jdbcType="VARCHAR"/>
		<result column="weibo" property="weibo" jdbcType="VARCHAR"/>
		<result column="company_logo" property="companyLogo" jdbcType="VARCHAR"/>
		<result column="licence_img" property="licenceImg" jdbcType="VARCHAR"/>
		<result column="licence_code" property="licenceCode" jdbcType="VARCHAR"/>
		<result column="company_page" property="companyPage" jdbcType="VARCHAR"/>
		<result column="address_province" property="addressProvince" jdbcType="VARCHAR"/>
		<result column="address_city" property="addressCity" jdbcType="VARCHAR"/>
		<result column="address_distinct" property="addressDistinct" jdbcType="VARCHAR"/>
		<result column="address_detail" property="addressDetail" jdbcType="VARCHAR"/>
		<result column="company_profile" property="companyProfile" jdbcType="VARCHAR"/>
		<result column="company_quality" property="companyQuality" jdbcType="VARCHAR"/>
		<result column="business_scope" property="businessScope" jdbcType="VARCHAR"/>
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
		<result column="add_user_id" property="addUserId" jdbcType="VARCHAR"/>
		<result column="opt_time" property="optTime" jdbcType="TIMESTAMP"/>
		<result column="opt_user_id" property="optUserId" jdbcType="VARCHAR"/>
		<result column="state" property="state" jdbcType="INTEGER"/>
		<result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="fieldSql">
		 t.id
		,t.company_code
		,t.company_name
		,t.phone
		,t.real_name
		,t.idcard
		,t.idcard_img_fore
		,t.idcard_img_back
		,t.email
		,t.qq
		,t.wechat
		,t.weibo
		,t.company_logo
		,t.licence_img
		,t.licence_code
		,t.company_page
		,t.address_province
		,t.address_city
		,t.address_distinct
		,t.address_detail
		,t.company_profile
		,t.company_quality
		,t.business_scope
		,t.add_time
		,t.add_user_id
		,t.opt_time
		,t.opt_user_id
		,t.state
		,t.is_delete
	</sql>

	<sql id="whereSql">
		<if test="id != null and id != ''">
			AND t.id = #{id,jdbcType = VARCHAR}
		</if>
		<if test="idList != null">
			AND 
			<foreach collection="idList" item="idItem" open="(" close=")" separator="OR">
				t.id = #{idItem,jdbcType = VARCHAR}
			</foreach>
		</if>
		<if test="companyCode != null and companyCode != ''">
			AND t.company_code = #{companyCode,jdbcType = VARCHAR}
		</if>
		<if test="companyName != null and companyName != ''">
			AND t.company_name = #{companyName,jdbcType = VARCHAR}
		</if>
		<if test="phone != null and phone != ''">
			AND t.phone = #{phone,jdbcType = VARCHAR}
		</if>
		<if test="realName != null and realName != ''">
			AND t.real_name = #{realName,jdbcType = VARCHAR}
		</if>
		<if test="idcard != null and idcard != ''">
			AND t.idcard = #{idcard,jdbcType = VARCHAR}
		</if>
		<if test="idcardImgFore != null and idcardImgFore != ''">
			AND t.idcard_img_fore = #{idcardImgFore,jdbcType = VARCHAR}
		</if>
		<if test="idcardImgBack != null and idcardImgBack != ''">
			AND t.idcard_img_back = #{idcardImgBack,jdbcType = VARCHAR}
		</if>
		<if test="email != null and email != ''">
			AND t.email = #{email,jdbcType = VARCHAR}
		</if>
		<if test="qq != null and qq != ''">
			AND t.qq = #{qq,jdbcType = VARCHAR}
		</if>
		<if test="wechat != null and wechat != ''">
			AND t.wechat = #{wechat,jdbcType = VARCHAR}
		</if>
		<if test="weibo != null and weibo != ''">
			AND t.weibo = #{weibo,jdbcType = VARCHAR}
		</if>
		<if test="companyLogo != null and companyLogo != ''">
			AND t.company_logo = #{companyLogo,jdbcType = VARCHAR}
		</if>
		<if test="licenceImg != null and licenceImg != ''">
			AND t.licence_img = #{licenceImg,jdbcType = VARCHAR}
		</if>
		<if test="licenceCode != null and licenceCode != ''">
			AND t.licence_code = #{licenceCode,jdbcType = VARCHAR}
		</if>
		<if test="companyPage != null and companyPage != ''">
			AND t.company_page = #{companyPage,jdbcType = VARCHAR}
		</if>
		<if test="addressProvince != null and addressProvince != ''">
			AND t.address_province = #{addressProvince,jdbcType = VARCHAR}
		</if>
		<if test="addressCity != null and addressCity != ''">
			AND t.address_city = #{addressCity,jdbcType = VARCHAR}
		</if>
		<if test="addressDistinct != null and addressDistinct != ''">
			AND t.address_distinct = #{addressDistinct,jdbcType = VARCHAR}
		</if>
		<if test="addressDetail != null and addressDetail != ''">
			AND t.address_detail = #{addressDetail,jdbcType = VARCHAR}
		</if>
		<if test="companyProfile != null and companyProfile != ''">
			AND t.company_profile = #{companyProfile,jdbcType = VARCHAR}
		</if>
		<if test="companyQuality != null and companyQuality != ''">
			AND t.company_quality = #{companyQuality,jdbcType = VARCHAR}
		</if>
		<if test="businessScope != null and businessScope != ''">
			AND t.business_scope = #{businessScope,jdbcType = VARCHAR}
		</if>
		<if test="minAddTime != null">
			AND t.add_time &gt;= #{minAddTime,jdbcType = TIMESTAMP}
		</if>
		<if test="maxAddTime != null">
			AND t.add_time &lt;= #{maxAddTime,jdbcType = TIMESTAMP}
		</if>
		<if test="addUserId != null and addUserId != ''">
			AND t.add_user_id = #{addUserId,jdbcType = VARCHAR}
		</if>
		<if test="optUserId != null and optUserId != ''">
			AND t.opt_user_id = #{optUserId,jdbcType = VARCHAR}
		</if>
		<if test="state != null">
			AND t.state = #{state,jdbcType = INTEGER}
		</if>
		<if test="isDelete != null">
			AND t.is_delete = #{isDelete,jdbcType = INTEGER}
		</if>
	</sql>

	<sql id="whereDeleteSql">
		<if test="id != null and id != ''">
			AND id = #{id,jdbcType = VARCHAR}
		</if>
		<if test="idList != null">
			AND 
			<foreach collection="idList" item="idItem" open="(" close=")" separator="OR">
				t.id = #{idItem,jdbcType = VARCHAR}
			</foreach>
		</if>
		<if test="companyCode != null and companyCode != ''">
			AND company_code = #{companyCode,jdbcType = VARCHAR}
		</if>
		<if test="companyName != null and companyName != ''">
			AND company_name = #{companyName,jdbcType = VARCHAR}
		</if>
		<if test="phone != null and phone != ''">
			AND phone = #{phone,jdbcType = VARCHAR}
		</if>
		<if test="realName != null and realName != ''">
			AND real_name = #{realName,jdbcType = VARCHAR}
		</if>
		<if test="idcard != null and idcard != ''">
			AND idcard = #{idcard,jdbcType = VARCHAR}
		</if>
		<if test="idcardImgFore != null and idcardImgFore != ''">
			AND idcard_img_fore = #{idcardImgFore,jdbcType = VARCHAR}
		</if>
		<if test="idcardImgBack != null and idcardImgBack != ''">
			AND idcard_img_back = #{idcardImgBack,jdbcType = VARCHAR}
		</if>
		<if test="email != null and email != ''">
			AND email = #{email,jdbcType = VARCHAR}
		</if>
		<if test="qq != null and qq != ''">
			AND qq = #{qq,jdbcType = VARCHAR}
		</if>
		<if test="wechat != null and wechat != ''">
			AND wechat = #{wechat,jdbcType = VARCHAR}
		</if>
		<if test="weibo != null and weibo != ''">
			AND weibo = #{weibo,jdbcType = VARCHAR}
		</if>
		<if test="companyLogo != null and companyLogo != ''">
			AND company_logo = #{companyLogo,jdbcType = VARCHAR}
		</if>
		<if test="licenceImg != null and licenceImg != ''">
			AND licence_img = #{licenceImg,jdbcType = VARCHAR}
		</if>
		<if test="licenceCode != null and licenceCode != ''">
			AND licence_code = #{licenceCode,jdbcType = VARCHAR}
		</if>
		<if test="companyPage != null and companyPage != ''">
			AND company_page = #{companyPage,jdbcType = VARCHAR}
		</if>
		<if test="addressProvince != null and addressProvince != ''">
			AND address_province = #{addressProvince,jdbcType = VARCHAR}
		</if>
		<if test="addressCity != null and addressCity != ''">
			AND address_city = #{addressCity,jdbcType = VARCHAR}
		</if>
		<if test="addressDistinct != null and addressDistinct != ''">
			AND address_distinct = #{addressDistinct,jdbcType = VARCHAR}
		</if>
		<if test="addressDetail != null and addressDetail != ''">
			AND address_detail = #{addressDetail,jdbcType = VARCHAR}
		</if>
		<if test="companyProfile != null and companyProfile != ''">
			AND company_profile = #{companyProfile,jdbcType = VARCHAR}
		</if>
		<if test="companyQuality != null and companyQuality != ''">
			AND company_quality = #{companyQuality,jdbcType = VARCHAR}
		</if>
		<if test="businessScope != null and businessScope != ''">
			AND business_scope = #{businessScope,jdbcType = VARCHAR}
		</if>
		<if test="minAddTime != null">
			AND add_time &gt;= #{minAddTime,jdbcType = TIMESTAMP}
		</if>
		<if test="maxAddTime != null">
			AND add_time &lt;= #{maxAddTime,jdbcType = TIMESTAMP}
		</if>
		<if test="addUserId != null and addUserId != ''">
			AND add_user_id = #{addUserId,jdbcType = VARCHAR}
		</if>
		<if test="optUserId != null and optUserId != ''">
			AND opt_user_id = #{optUserId,jdbcType = VARCHAR}
		</if>
		<if test="state != null">
			AND state = #{state,jdbcType = INTEGER}
		</if>
		<if test="isDelete != null">
			AND is_delete = #{isDelete,jdbcType = INTEGER}
		</if>
	</sql>

	<select id="select" parameterType="String" resultMap="CompanyPo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM tb_company t 
		 WHERE t.id = #{id,jdbcType = VARCHAR} 
	</select>

	<select id="count" parameterType="com.liyuan.ecommerce.domain.condition.company.CompanyCondition" resultType="Integer" >
		SELECT 
			count(1)
		  FROM tb_company t 
		<where>
			<include refid="whereSql"/>
		</where>
	</select>

	<select id="selectList" parameterType="com.liyuan.ecommerce.domain.condition.company.CompanyCondition" resultMap="CompanyPo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM tb_company t 
		<where>
			<include refid="whereSql"/>
		</where>
	</select>

	<insert id="insert" parameterType="com.liyuan.ecommerce.domain.po.company.CompanyPo">
		INSERT INTO tb_company(  
			id
		<if test="companyCode != null">
			,company_code
		</if>
		<if test="companyName != null">
			,company_name
		</if>
		<if test="phone != null">
			,phone
		</if>
		<if test="realName != null">
			,real_name
		</if>
		<if test="idcard != null">
			,idcard
		</if>
		<if test="idcardImgFore != null">
			,idcard_img_fore
		</if>
		<if test="idcardImgBack != null">
			,idcard_img_back
		</if>
		<if test="email != null">
			,email
		</if>
		<if test="qq != null">
			,qq
		</if>
		<if test="wechat != null">
			,wechat
		</if>
		<if test="weibo != null">
			,weibo
		</if>
		<if test="companyLogo != null">
			,company_logo
		</if>
		<if test="licenceImg != null">
			,licence_img
		</if>
		<if test="licenceCode != null">
			,licence_code
		</if>
		<if test="companyPage != null">
			,company_page
		</if>
		<if test="addressProvince != null">
			,address_province
		</if>
		<if test="addressCity != null">
			,address_city
		</if>
		<if test="addressDistinct != null">
			,address_distinct
		</if>
		<if test="addressDetail != null">
			,address_detail
		</if>
		<if test="companyProfile != null">
			,company_profile
		</if>
		<if test="companyQuality != null">
			,company_quality
		</if>
		<if test="businessScope != null">
			,business_scope
		</if>
		<if test="addTime != null">
			,add_time
		</if>
		<if test="addUserId != null">
			,add_user_id
		</if>
		<if test="optTime != null">
			,opt_time
		</if>
		<if test="optUserId != null">
			,opt_user_id
		</if>
		<if test="state != null">
			,state
		</if>
		<if test="isDelete != null">
			,is_delete
		</if>
		)
		VALUES( 
			#{id,jdbcType=VARCHAR}
		<if test="companyCode != null">
			,#{companyCode,jdbcType=VARCHAR}
		</if>
		<if test="companyName != null">
			,#{companyName,jdbcType=VARCHAR}
		</if>
		<if test="phone != null">
			,#{phone,jdbcType=VARCHAR}
		</if>
		<if test="realName != null">
			,#{realName,jdbcType=VARCHAR}
		</if>
		<if test="idcard != null">
			,#{idcard,jdbcType=VARCHAR}
		</if>
		<if test="idcardImgFore != null">
			,#{idcardImgFore,jdbcType=VARCHAR}
		</if>
		<if test="idcardImgBack != null">
			,#{idcardImgBack,jdbcType=VARCHAR}
		</if>
		<if test="email != null">
			,#{email,jdbcType=VARCHAR}
		</if>
		<if test="qq != null">
			,#{qq,jdbcType=VARCHAR}
		</if>
		<if test="wechat != null">
			,#{wechat,jdbcType=VARCHAR}
		</if>
		<if test="weibo != null">
			,#{weibo,jdbcType=VARCHAR}
		</if>
		<if test="companyLogo != null">
			,#{companyLogo,jdbcType=VARCHAR}
		</if>
		<if test="licenceImg != null">
			,#{licenceImg,jdbcType=VARCHAR}
		</if>
		<if test="licenceCode != null">
			,#{licenceCode,jdbcType=VARCHAR}
		</if>
		<if test="companyPage != null">
			,#{companyPage,jdbcType=VARCHAR}
		</if>
		<if test="addressProvince != null">
			,#{addressProvince,jdbcType=VARCHAR}
		</if>
		<if test="addressCity != null">
			,#{addressCity,jdbcType=VARCHAR}
		</if>
		<if test="addressDistinct != null">
			,#{addressDistinct,jdbcType=VARCHAR}
		</if>
		<if test="addressDetail != null">
			,#{addressDetail,jdbcType=VARCHAR}
		</if>
		<if test="companyProfile != null">
			,#{companyProfile,jdbcType=VARCHAR}
		</if>
		<if test="companyQuality != null">
			,#{companyQuality,jdbcType=VARCHAR}
		</if>
		<if test="businessScope != null">
			,#{businessScope,jdbcType=VARCHAR}
		</if>
		<if test="addTime != null">
			,#{addTime,jdbcType=TIMESTAMP}
		</if>
		<if test="addUserId != null">
			,#{addUserId,jdbcType=VARCHAR}
		</if>
		<if test="optTime != null">
			,#{optTime,jdbcType=TIMESTAMP}
		</if>
		<if test="optUserId != null">
			,#{optUserId,jdbcType=VARCHAR}
		</if>
		<if test="state != null">
			,#{state,jdbcType=INTEGER}
		</if>
		<if test="isDelete != null">
			,#{isDelete,jdbcType=INTEGER}
		</if>
		)
	</insert>

	<update id="update" parameterType="com.liyuan.ecommerce.domain.po.company.CompanyPo">
		UPDATE tb_company t
		 <set>
		    <if test="companyCode != null">
			    t.company_code = #{companyCode,jdbcType = VARCHAR}, 
		    </if>
		    <if test="companyName != null">
			    t.company_name = #{companyName,jdbcType = VARCHAR}, 
		    </if>
		    <if test="phone != null">
			    t.phone = #{phone,jdbcType = VARCHAR}, 
		    </if>
		    <if test="realName != null">
			    t.real_name = #{realName,jdbcType = VARCHAR}, 
		    </if>
		    <if test="idcard != null">
			    t.idcard = #{idcard,jdbcType = VARCHAR}, 
		    </if>
		    <if test="idcardImgFore != null">
			    t.idcard_img_fore = #{idcardImgFore,jdbcType = VARCHAR}, 
		    </if>
		    <if test="idcardImgBack != null">
			    t.idcard_img_back = #{idcardImgBack,jdbcType = VARCHAR}, 
		    </if>
		    <if test="email != null">
			    t.email = #{email,jdbcType = VARCHAR}, 
		    </if>
		    <if test="qq != null">
			    t.qq = #{qq,jdbcType = VARCHAR}, 
		    </if>
		    <if test="wechat != null">
			    t.wechat = #{wechat,jdbcType = VARCHAR}, 
		    </if>
		    <if test="weibo != null">
			    t.weibo = #{weibo,jdbcType = VARCHAR}, 
		    </if>
		    <if test="companyLogo != null">
			    t.company_logo = #{companyLogo,jdbcType = VARCHAR}, 
		    </if>
		    <if test="licenceImg != null">
			    t.licence_img = #{licenceImg,jdbcType = VARCHAR}, 
		    </if>
		    <if test="licenceCode != null">
			    t.licence_code = #{licenceCode,jdbcType = VARCHAR}, 
		    </if>
		    <if test="companyPage != null">
			    t.company_page = #{companyPage,jdbcType = VARCHAR}, 
		    </if>
		    <if test="addressProvince != null">
			    t.address_province = #{addressProvince,jdbcType = VARCHAR}, 
		    </if>
		    <if test="addressCity != null">
			    t.address_city = #{addressCity,jdbcType = VARCHAR}, 
		    </if>
		    <if test="addressDistinct != null">
			    t.address_distinct = #{addressDistinct,jdbcType = VARCHAR}, 
		    </if>
		    <if test="addressDetail != null">
			    t.address_detail = #{addressDetail,jdbcType = VARCHAR}, 
		    </if>
		    <if test="companyProfile != null">
			    t.company_profile = #{companyProfile,jdbcType = VARCHAR}, 
		    </if>
		    <if test="companyQuality != null">
			    t.company_quality = #{companyQuality,jdbcType = VARCHAR}, 
		    </if>
		    <if test="businessScope != null">
			    t.business_scope = #{businessScope,jdbcType = VARCHAR}, 
		    </if>
		    <if test="addTime != null">
			    t.add_time = #{addTime,jdbcType = TIMESTAMP}, 
		    </if>
		    <if test="addUserId != null">
			    t.add_user_id = #{addUserId,jdbcType = VARCHAR}, 
		    </if>
		    <if test="optTime != null">
			    t.opt_time = #{optTime,jdbcType = TIMESTAMP}, 
		    </if>
		    <if test="optUserId != null">
			    t.opt_user_id = #{optUserId,jdbcType = VARCHAR}, 
		    </if>
		    <if test="state != null">
			    t.state = #{state,jdbcType = INTEGER}, 
		    </if>
		    <if test="isDelete != null">
			    t.is_delete = #{isDelete,jdbcType = INTEGER}, 
		    </if>
	    </set>
		 WHERE t.id= #{id,jdbcType = VARCHAR}
	</update>

	<delete id="delete" parameterType="String">
		 DELETE FROM tb_company
		  WHERE id = #{id,jdbcType=VARCHAR} 
	</delete>
	<delete id="deleteByCondition" parameterType="com.liyuan.ecommerce.domain.condition.company.CompanyCondition">
		 DELETE FROM tb_company
		 <where>
			<include refid="whereDeleteSql"/>
		 </where>
	</delete>
</mapper>